<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Inquizition - Nobody expects us!</title>
  <link rel="stylesheet" href="css/foundation.css">

    <script src="js/vendor/custom.modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/zepto.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/Inquizition.js"></script>

    <script type="text/template" id="list-template">
        <h1>Click on a quiz to join:</h1>
        <ul class="quizInfo"></ul>
        <a href="#" onClick="generateQuiz()" class="large button expand" data-reveal-id="quizCreateModal">Create new quiz</a>
    </script>

    <script type="text/template" id="results-template">
      <h1>Results:</h1>
      <ul class="results"></ul>
    </script>

    <script type="text/template" id="result-template">
        <%= username %>
        <br />
        <%= score %>
    </script>

    <script type="text/template" id="quiz-template">
      <% if (parseInt(secondsLeft) > 0) { %>
        <button data-id="<%= id %>" class="large button expand join">
          <%= name %>
          <br />
          Starting in: <%= secondsLeft %> seconds 
        </button>
      <% } %>
    </script>

    <script type="text/template" id="question-template">
      <h1><%= text %></h1>
      <% _.each(answers, function(answer){ %>
        <button class="large button expand answer" data-id="<%= answer.id%>"><%= answer.text %></button>
    <% }); %>

    
    </script>
    <script type="text/template" id="questions-template">

       <span class="result" ></span>
        <div class="questions"></div>
    </script>

    <script type="text/template" id="countdown-template">
        <h1>Quiz will start in:</h1>
        <h2><span class="countdown"></span></h2>
    </script>


    <script type="application/javascript">
      // Kicks off quiz list fetch
      jQuery(function() {
            window.list.fetch();

            // Count down every 1 second
            window.listCountInterval = window.setInterval(function() {
              window.list.each(function(quiz, index) {quiz.updateSeconds()});
            }, 1000);

            // Update every 10 seconds
            window.listUpdateInterval = window.setInterval(function() {
              window.list.fetch({update: true});
              },10000);
        });


    // Gets potential quiz names
    function generateQuiz() {
        this.quizName = "";
        $.get('/name', function(data) {
            this.quizName = data;
            }).done(function() {
              $('input#quizName').val(this.quizName);
              });
    }

    // Sends POST to create quiz
    function createQuiz(){
        this.quizName = $('input#quizName').val();
        $.post('/quiz/create', { quiz_name: this.quizName, user_id: window.user_id},function(data) {
         $('#quizCreateModal').foundation('reveal', 'close');
        window.list.fetch({update: true});
   
            });
            }

    function loginUser() {
        window.user_id = undefined;
        $.post('/login', {
            username: $('input#username').val()
            }).done(function(data) {
              window.user_id = data.id;
              $('#loginModal').foundation('reveal', 'close');
              createCookie('user_id', data.id, 7);
              });
    }

    function createCookie(name,value,days) {
         if (days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            var expires = "; expires="+date.toGMTString();
        }
        else var expires = "";
            document.cookie = name+"="+value+expires+"; path=/";
    }


        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }

    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    // Key Handlers
    jQuery(function() {
        // If Enter is pressed inside quiz name modal input
        $('input#quizName').keypress(function(e) {
        if(e.which == 13) {
            createQuiz();
         }
        });
        $('input#username').keypress(function(e) {
        if(e.which == 13) {
            loginUser();
         }
        });

    });

    function validateUser() {
        if(readCookie('user_id') != null) {
            window.user_id = readCookie('user_id');
        } 

        if(window.user_id == undefined) {
            $('#loginModal').foundation('reveal', 'open', {
                closeOnBackgroundClick: false ,
                closeOnEsc: false,

              });
            

            }
    }

    jQuery(function() {
        validateUser();
    });  

    </script>

  </head>

  <body>

    <div id="loginModal" class="reveal-modal xlarge">
        <div class="large-12 columns">
            <label>Username:</label>
            <input type="text" placeholder="Username" id="username">
            <a class="medium button" onClick="loginUser()">Play!</a>
        </div>

    </div>

    <div id="quizCreateModal" class="reveal-modal">
        <div class="large-12 columns">
            <label>Quiz Name:</label>
            <input type="text" placeholder="Quiz Name" id="quizName">
        </div>
        <a class="medium button" onClick="createQuiz()">Create Quiz</a>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div class="large-12 columns">
        <div id="container">
        </div>
    </div>

    <script>
        $(document).foundation();
    </script>
 
  </body>
</html>
