<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Inquizition - Nobody expects us!</title>

    <script src="js/vendor/custom.modernizr.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/vendor/zepto.js"></script>
    <script src="js/vendor/foundation.min.js"></script>
    <script src="js/Inquizition.js"></script>

    <script type="text/template" id="list-template">
        <h1>Quizzes</h1>
        <ul class="quizzes"></ul>
    </script>

    <script type="text/template" id="quiz-template">
      <span class="quiz-name"><%= name %></span>
      <span class="quiz-seconds"><%= secondsLeft %></span>
    </script>

    <script type="application/javascript">
      jQuery(function() {
            window.list.fetch();
        });
    </script>

  </head>

  <body>
    <div id="container">
    </div>
    <script>
         $(document).foundation();
    </script>

  </body>
</html>
